# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. **Python**
2. **R**
3. **SQL**
4. **Java**
5. **Julia**

Some of the commonly used libraries used by Data Scientists include:

1. **NumPy**
2. **Pandas**
3. **Scikit-learn**
4. **TensorFlow**
5. **Matplotlib**

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
x=(3*4)+5
print(x)

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60
# Conversion of 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Highlight open-source development environments for Data Science
- Demonstrate basic conversions (e.g., minutes to hours)

## Author
Declan